.btn {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: $ff-manrope;
  position: relative;
  color: $color-blue;
  text-transform: uppercase;
  font-weight: 500;

  background-color: transparent;
  border: 1px $color-blue solid;
  border-radius: 30px;
  cursor: pointer;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}

.btn-border {
  transition: all 0.2s ease;
}

.btn-border:hover {
  color: $color-default-white;
  background-color: $color-blue;

  .btn-content {
    background-color: $color-default-white;
  }
}

.btn-content {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: $color-blue;
  transition: background-color 0.2s ease;
}
