.new-card {
  position: relative;
  height: 400px;
  display: flex;
  align-items: flex-end;
  border-radius: 12px;
  width: calc((100% - 96px) / 4);

  @include vp-1199 {
    width: 100%;
    height: 350px;
  }

  @include vp-767 {
    height: auto;
  }
}

.slide-active {
  width: calc((100% - 32px) / 2);
}

.new-card img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slide-active .new-card__content {
  max-width: 389px;
}

.slide-active .new-card__row-2 {
  max-width: 291px;
  width: auto;
  padding-top: 13px;
}

.slide-active .new-card__row-3 {
  width: auto;
}

.new-card__content {
  display: flex;
  flex-direction: column;
  max-width: 240px;

  @include vp-767 {
    max-width: 263px;
  }
}

@mixin angle() {
  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    right: -16px;
    bottom: 0;
    background-image: url("../img/news/angle.png");
  }
}

.new-card__row-1 {
  background-color: $color-white-beige;
  width: 78px;
  border-radius: 0 12px 0 0;
  padding-top: 5px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 0;
    top: -16px;
    background-image: url("../img/news/angle.png");
  }

  @include angle();

  @include vp-767 {
    padding-top: 3px;
  }
}

.new-card__row-2 {
  background-color: $color-white-beige;
  border-radius: 0 12px 0 0;
  max-width: 214px;
  width: 14.86vw;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-top: 3px;
  position: relative;

  @include angle();

  @include vp-1199 {
    max-width: 207px;
    width: auto;
  }

  @include vp-767 {
    max-width: 200px;
    padding-top: 11px;
  }
}

.new-card__row-3 {
  background-color: $color-white-beige;
  border-radius: 0 12px 0 0;
  gap: 15px;
  padding-right: 19px;
  padding-bottom: 13px;
  padding-top: 8px;
  align-items: center;
  display: flex;
  position: relative;
  width: 16.67vw;

  @include angle();

  @include vp-1199 {
    padding-bottom: 10px;
    padding-top: 6px;
    width: auto;
  }

  @include vp-767 {
    padding-top: 14px;
    padding-right: 9px;
  }
}

.new-card__row-1 span {
  color: $color-blue;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
}

.new-card__row-2 h3 {
  color: $color-blue;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

.new-card__row-3 p {
  font-size: 14px;
  line-height: 18px;
  white-space: pre-line;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.new-card__link {
  width: 30px;
  height: 30px;
  position: relative;
}

.new-card__link .btn-content {
  width: 30px;
  display: flex;
  right: 0;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.new-card__link svg {
  color: $color-default-white;
  transition: transform 0.2s ease;
}

.new-card__link:hover {
  .btn-content {
    background-color: $color-white-beige;
  }

  svg {
    transform: rotateZ(45deg);
    color: $color-blue;
  }
}


.new-card__link:focus {
  outline: none;

  .btn-content {
    background-color: $color-white-beige;
  }

  svg {
    transform: rotateZ(45deg);
    color: $color-blue;
  }
}

.new-card__link:active {
  svg {
    transform: rotateZ(45deg);
    color: $color-blue;
    opacity: 0.8;
  }
}
