.form .container {
  padding-top: 120px;
  max-width: 1440px;

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 67px;
  }
}

.form__wrap {
  position: relative;
  border-radius: 16px;
}

.form__wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 16px;
  z-index: -1;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    display: none;
  }
}

.form__content {
  background-color: $color-blue;
  max-width: 498px;
  min-height: 803px;
  padding: 81px 74px 51px;
  border-radius: 16px;

  @include vp-1199 {
    padding: 60px 45px 59px;
    max-width: 442px;
    min-height: auto;
  }

  @include vp-767 {
    max-width: none;
    padding: 51px 15px 50px;
  }
}

.form__content h3 {
  color: $color-default-white;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 28px;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 17px;
  }
}

.form__content p {
  color: $color-default-white;
  margin-bottom: 20px;

  @include vp-1199 {
    line-height: 20px;
    margin-bottom: 33px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;

  @include vp-767 {
    margin-bottom: 21px;
  }
}

.form__field input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid rgba($color: $color-default-white, $alpha: 0.3);
  padding: 0 25px;
  background-color: transparent;
  color: $color-default-white;

  @include vp-767 {
    height: 50px;
  }
}

.form__field input:hover {
  border-color: rgba($color: $color-default-white, $alpha: 1);
}

.form__field input:focus {
  outline: none;
  border-color: rgba($color: $color-default-white, $alpha: 1);
}

.form__field.is-invalid input {
  border-color: #ff5e66;
  background-color: rgba(255, 94, 102, 0.2);
}

.form__field-cities {
  @include vp-767 {
    margin-bottom: 17px;
  }
}

.cities-active {
  .form__field-cities-select {
    display: flex;
  }

  svg {
    transform: rotateZ(180deg);
  }
}

.form__field label {
  color: $color-default-white;
  opacity: 0.8;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 9px;

  @include vp-1199 {
    margin-bottom: 8px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 12px;
  }
}

.form__field textarea {
  background-color: transparent;
  color: $color-default-white;
  border-color: rgba($color: $color-default-white, $alpha: 0.3);
  border-radius: 8px;
  padding: 10px 25px;
  height: 100px;

  @include vp-1199 {
    height: 98px;
  }

  @include vp-767 {
    height: 92px;
  }
}

.form__field textarea:focus {
  outline: none;
  border-color: rgba($color: $color-default-white, $alpha: 1);
}

.form__field path {
  stroke: $color-default-white;
}

.form__field.is-invalid textarea {
  border-color: #ff5e66;
  background-color: rgba(255, 94, 102, 0.2);
}

.form__field span {
  display: block;
  min-width: 20px;
  height: 20px;
  border: 1px solid rgba($color: $color-default-white, $alpha: 0.3);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.form__policy {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 45px;
  padding-top: 7px;

  @include vp-1199 {
    margin-bottom: 44px;
  }

  @include vp-767 {
    padding-top: 2px;
    margin-bottom: 30px;
    justify-content: center;
  }
}

.form__policy span {
  color: $color-default-white;
  opacity: 1;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  position: relative;
  cursor: pointer;
  gap: 10px;
  width: 100%;
  display: block;
  padding-left: 30px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    min-width: 20px;
    height: 20px;
    border: 1px solid rgba($color: $color-default-white, $alpha: 0.3);
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.form__policy input[type="checkbox"] {
  display: none;
}

.form__policy.is-invalid span::before {
  border-color: #ff5e66;
  background-color: rgba(255, 94, 102, 0.2);
}

.form__policy input[type="checkbox"]:checked + span::before {
  background-color: $color-default-white;
  background-image: url("../img/check-arrow-blue.svg");
}

.form__field-cities-select {
  display: none;
  position: absolute;
  width: 100%;
  flex-direction: column;
  z-index: 1;
  top: 80px;
}

.form__field-cities-select button {
  cursor: pointer;
  border: none;
  background-color: $color-default-white;
  border-left: 1px solid $color-default-grey;
  border-right: 1px solid $color-default-grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  padding: 17px 20px;
  text-align: left;
}

.form__field-cities-select button:hover {
  background-color: $color-blue;
  color: $color-default-white;
}

.form__field-cities-select button:first-child {
  border-radius: 8px 8px 0 0;
  border-top: 1px solid $color-default-grey;
}

.form__field-cities-select button:last-child {
  border-bottom: 1px solid $color-default-grey;
  border-radius: 0 0 8px 8px;
}

.form__input-cities {
  position: relative;
  cursor: pointer;
}

.form__input-cities + svg {
  position: absolute;
  right: 20px;
  bottom: 17px;
}

.form__btn {
  color: $color-default-white;
  background-color: transparent;
  border-color: $color-default-white;
  width: 100%;
  gap: 107px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  height: 54px;

  @include vp-767 {
    gap: 74px;
    height: 42px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
    max-width: 260px;
    margin: 0 auto;
  }
}

.form__btn .btn-content {
  background-color: $color-default-white;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: $color-blue;
    transition: transform 0.2s ease;
  }

  @include vp-767 {
    width: 34px;
    height: 34px;
  }
}

.form__btn:hover {
  background-color: $color-default-white;
  color: $color-blue;

  .btn-content {
    background-color: $color-blue;
  }

  svg {
    transform: rotateZ(45deg);
    color: $color-default-white;
  }
}

.form__btn:focus {
  background-color: $color-default-white;
  color: $color-blue;

  .btn-content {
    background-color: $color-blue;
  }

  svg {
    transform: rotateZ(45deg);
    color: $color-default-white;
  }
}

.form__btn:active {
  color: rgba($color: $color-blue, $alpha: 0.8);
}
