.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;

  @include vp-1199 {
    padding-top: 30px;
  }

  @include vp-767 {
    padding-top: 20px;
    justify-content: flex-end;
  }
}

.header__logo {
  display: flex;

  @include vp-767 {
    position: absolute;
    left: 15px;
  }
}

.header__menu-btn {
  width: 100%;
  height: 54px;
  font-size: 14px;
  letter-spacing: 0.28px;
  justify-content: space-between;
  padding-left: 20px;
  transition: width 0.2s ease;
}

.menu-true .header__menu-btn {
  background-color: $color-blue;
  color: $color-default-white;
}

.menu-true {
  .btn-content {
    background-color: $color-default-white;
  }

  .btn-content__bar {
    background-color: $color-blue;

    &::before {
      background-color: $color-blue;
    }

    &::after {
      background-color: $color-blue;
    }
  }

  animation: menu-in 0.7s forwards ease-in-out;

  @include vp-767 {
    animation: menu-in-mob 0.7s forwards ease-in-out;
  }
}

.header__menu-btn.open:hover {
  background-color: $color-default-white;
  color: $color-blue;

  .btn-content {
    background-color: $color-blue;
  }

  .btn-content__bar {
    background-color: $color-blue;

    &::before {
      background-color: $color-default-white;
      transform: rotateZ(45deg);
      top: 0;
    }

    &::after {
      background-color: $color-default-white;
      transform: rotateZ(-45deg);
      bottom: 0;
    }
  }
}


.header__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  max-height: 54px;
  overflow: hidden;
  width: 134px;
  z-index: 1;
}

.menu-false {
  animation: menu-out 0.7s forwards ease-in-out;

  @include vp-767 {
    animation: menu-out-mob 0.7s forwards ease-in-out;
  }
}

@keyframes menu-in-mob {
  0% {
    width: 134px;
    max-height: 54px;
  }

  50% {
    width: 100%;
    max-height: 54px;
  }

  100% {
    width: 100%;
    max-height: 700px;
  }
}

@keyframes menu-out-mob {
  0% {
    width: 100%;
    max-height: 700px;
  }

  50% {
    width: 100%;
    max-height: 54px;
  }

  100% {
    width: 134px;
    max-height: 54px;
  }
}

@keyframes menu-in {
  0% {
    width: 134px;
    max-height: 54px;
  }

  50% {
    width: 286px;
    max-height: 54px;
  }

  100% {
    width: 286px;
    max-height: 700px;
  }
}

@keyframes menu-out {
  0% {
    width: 286px;
    max-height: 700px;
  }

  50% {
    width: 286px;
    max-height: 54px;
  }

  100% {
    width: 134px;
    max-height: 54px;
  }
}

.header__menu-btn > .btn-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.btn-content__bar {
  position: absolute;
  background-color: $color-default-white;
  width: 18px;
  height: 0.12em;
  border-radius: 30px;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 0.12em;
    left: 0;
    top: 6px;
    background-color: $color-default-white;
  }

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 0.12em;
    left: 0;
    bottom: 6px;
    background-color: $color-default-white;
  }
}

.btn-border:hover {
  .btn-content__bar {
    background-color: $color-blue;

    &::before {
      background-color: $color-blue;
    }

    &::after {
      background-color: $color-blue;
    }
  }
}

.btn-border:focus {
  .btn-content__bar {
    background-color: $color-blue;

    &::before {
      background-color: $color-blue;
    }

    &::after {
      background-color: $color-blue;
    }
  }
}
